{% extends '../auditory/auditory_base.html' %}

{% block body %}
<div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        {% if user.is_teacher %}
        <h2><a href="{% url 'classroom:task-create' auditory.id %}">Add task</a></h2>
        {% endif %}
      </div>
      <div class="col-sm-8">
        {% for task in tasks %}
        <a href="{% url 'classroom:task-detail' auditory.id task.id %}"><h2>{{ task.name }}</h2></a>
        <h5>{{task.description}}, {{task.date_start}} - {{task.date_finish}}</h5>
        <br>
        <br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock body %}