{% extends '../base.html' %}
{% load static %}

{% block head %}
<style>
  .bg-greyyellow {
  background-color:#bcd45f;
}
</style>
{% endblock head %}
{% block content %}
<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm fixed-top bg-white">
      <a class="navbar-brand" href="#"><img class="first-slide" src="{% static 'main/images/classroom.png' %}" alt="classroomimage"></a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if user.is_teacher %}
        <a href="{% url 'classroom:create' %}">Create Auditory</a>
        {% endif %}
        <div class="ml-5 mr-0">{{ user.email }}</div>
        <div class="btn-group mt-md-1 mr-0 ml-3">
          <a class="btn btn-primary" href = '{% url 'users:logout' %}'>Log Out</a>
        </div>
      </div>
    </nav>
  </div>
</header>    
    <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for auditory in auditories %}
        <div class="col-md-4 ">
          <div class="card mb-4 shadow-sm ">
            <a href = "{% url 'classroom:detail' auditory.id %}">
            <svg class="bd-placeholder-img card-img-top bg-greyyellow" width="1000" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail">
              <title>Classroom</title><rect width="100%" height="100%" fill="#bcd45f"/>
              <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{auditory.name}}</text>
            </svg>
            </a>
            <div class="dropdown">
              <button type="button" data-toggle="dropdown">
                <i class="material-icons">more_horiz</i>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{%url 'classroom:delete' auditory.id %}">Delete</a>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text">{{auditory.description}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{auditory.teacher.name}}</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{auditory.student.name}}</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>
    </div>
  </div>
{% endblock content %}